<section>
    <nav aria-label="breadcrumb" class="breadcrumb-nav p-3 bg-light rounded shadow-sm">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/user/home" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active text-dark" aria-current="page">About Us</li>
      </ol>
    </nav>
  </section>
<div class="container-fluid rounded border bg-white shadow-sm">
    <div class="row">
      <div class="col-12">
        <p class="h4 text-center mb-4">About <%=BRAND_NAME%></p>
        <p class="lead text-justify">
          J.P Diagnostic and Imaging Clinic has been one of the renowned private diagnostic setups in Patna for over 6 years. It covers a complete range of diagnostic investigations for Pathology and Radiology under one roof. Our brand, named J.P Diagnostic and Imaging, has become synonymous with trust, transparency, and reliability in the field of diagnostics.
        </p>
        <p class="lead text-justify">
          We believe that high-quality and accurate diagnostics are essential for effective patient care and treatment. Therefore, we envisioned setting the best industry standards in diagnostic services. We excel in providing affordable medical diagnostic services with utmost care and professionalism.
        </p>
        <p class="lead text-justify">
          From science to compassion, we have traveled a long journey in ensuring improved health and well-being for all. At the same time, our brand has been continuously focusing on combining high quality with cost-efficiency, facilitating improved healthcare and better treatment through timely and accurate diagnostic, therapeutic, and prognostic data.
        </p>
        <p class="lead text-justify">
          We aim to create an amicable and supportive work environment that focuses on improved collaboration, care, and productivity. We encourage and empower our people to realize their full potential. We are honest, committed, compassionate, and willing to go the extra mile. We are <%=BRAND_NAME%>, The Diagnosis Specialist.
        </p>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-12">
        <p class="h4 text-center mb-4">Our Vision</p>
        <p class="lead text-justify">
          Our vision is to become a premier healthcare diagnostic service provider in our community, continuously striving to deliver the best in patient care, service excellence, and world-class technology. We envision being a trusted medical diagnostic partner, impacting lives and empowering health.
        </p>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-12">
        <p class="h4 text-center mb-4">Our Mission</p>
        <p class="lead text-justify">
          To provide high-quality, timely, and innovative healthcare diagnostic services with the utmost expertise, compassion, and transparency. By providing quality and affordable diagnostic services, we strive to earn the trust of our patrons and ensure the advice and care they need.
        </p>
      </div>
    </div>
  </div>

