<section>
    <nav aria-label="breadcrumb" class="breadcrumb-nav p-3 bg-light rounded shadow-sm">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/user/home" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active text-dark" aria-current="page">Change Password</li>
      </ol>
    </nav>
</section>
    <div class="container-fluid rounded border bg-white shadow-sm">
        <div class="row">
            <div class="col">
                <img src="/resetPassword.jpg" class="img-fluid" alt="Change Password">
            </div>
            <div class="col">
                <form action="/user/changePassword" class="needs-validation" novalidate method="post">
                    <div class="row mt-3">
                        <p class="fs-5 font-monospace">Reset Password</p>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="password" class=" form-control" name="Password" id="password" aria-describedby="old Password" placeholder="Password" required>
                                <label for="password">Password</label>
                                <div class="invalid-feedback">Enter password.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="password" name="newPassword" class="text-capitalize form-control" aria-describedby="new Password" id="newPassword" placeholder="New Password" required>
                                <label for="newPassword">New Password</label>
                                <div class="invalid-feedback">Enter new password.</div>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="password" name="confirmNewPassword" class="text-capitalize form-control" aria-describedby="confirm new Password" id="confirmNewPassword" placeholder="Confirm New Password" required>
                                <label for="confirmNewPassword">Confirm New Password</label>
                                <div class="invalid-feedback">Enter confirm new password.</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="change Password" aria-describedby="submit button" class="btn btn-primary mt-3 mb-3">Submit </button>
                </form> 
            </div>
        </div>  
    </div>

